<div class="h-16 w-full bg-midnight align-center justify-center mb-12">
  <h1 class="text-3xl font-bold text-white text-center">Users</h1>
</div>

<div>
    <h1>Add new comment</h1>

    <%= form_with model: @comment, url: user_post_comments_path(user_id: @post.author_id, post_id: @post.id) do |f| %>
        <%= f.label :text %><br>
        <%= f.text_area :text, cols: 30, rows: 5 %><br>
        <%= f.submit "Submit", class: "btn btn-primary submit-btn" %>
    <% end %>
</div>
